# Iso images
ISO/**/*.iso

# Ventoy config backup
ventoy/ventoy_backup.json

# Ventoy plugins log
VentoyPlugson.log

# Other
System\ Volume\ Information

# Local scripts
ventoy/scripts/windows/autounattend/*local*.xml

# Local utils
utilities/*

# Local files
files/*
